<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>




<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Site de Laurent Berger</title>

{% load static %}
<table border="0" align="center"><caption> </caption><caption></caption><tbody><tr>
</tr><tr>
<td> <a href="./frequence" target="_blank">
<img id="idImage" src="{% static 'page_index/frequence.png' %}" alt="Frequence sinusoidale" title="Frequence sinusoidale" onclick="posObj(this,event)" width="150" vspace="0" hspace="0" height="150" border="0">
</a></td>
<td> <a href="./cercle_trigo" target="_blank">
<img id="idImage" src="{% static 'page_index/cercle_trigo.png' %}" alt="Cercle trigonométrique" title="Cercle trigonométrique" onclick="posObj(this,event)" width="150" vspace="0" hspace="0" height="150" border="0">
</a></td>
<td> <a href="./freq_spatiale_2d" target="_blank">
<img id="idImage" src="{% static 'page_index/freq_spatiale2d.png' %}" alt="Fréquence spatiale 2D" title="Fréquence spatiale 2D" onclick="posObj(this,event)" width="150" vspace="0" hspace="0" height="150" border="0">
</a></td>
<td> <a href="./melange_sinus" target="_blank">
<img id="idImage" src="{% static 'page_index/melange_sinus.jpg' %}" alt="Mélange de sinus" title="Mélange de sinus" onclick="posObj(this,event)" width="150" vspace="0" hspace="0" height="150" border="0">
</a></td>
</tr>
<tr>
<td> <a href="./exo_trans_simil" target="_blank">
<img id="idImage" src="{% static 'page_index/exo_trans_simil.jpg' %}" alt="Translation-Similitude" title="Translation-Similitude" onclick="posObj(this,event)" width="150" vspace="0" hspace="0" height="150" border="0">
</a></td>
<td> <a href="./simul_sf" target="_blank">
<img id="idImage" src="{% static 'page_index/simul_sf.jpg' %}" alt="Série de Fourier" title="Série de Fourier" onclick="posObj(this,event)" width="150" vspace="0" hspace="0" height="150" border="0">
</a></td>
<td> <a href="./tf_signal_amorti" target="_blank">
<img id="idImage" src="{% static 'page_index/tf_signal_amorti.jpg' %}" alt="Transformée de Fourier d'un sinus amorti" title="Transformée de Fourier d'un sinus amorti" onclick="posObj(this,event)" width="150" vspace="0" hspace="0" height="150" border="0">
</a></td>

</tr>
<tr>


</tbody></table>
<br><br>






</strong></body></html>