<body>
<TITLE>Similtude et translation porte</TITLE>
<html>
<form action="simul_sf" method = post>{% csrf_token %}
<div><label>c-2 =<input name="am2" size="5" value="{{ am2 }}"></label><label>+i<input name="bm2" size="5" value="{{ bm2 }}"></label></div>
<div><label>c-1 =<input name="am1" size="5" value="{{ am1 }}"></label><label>+i<input name="bm1" size="5" value="{{ bm1 }}"></label></div>
<div><label>c0 =<input name="a0" size="5" value="{{ a0 }}"></label><label>+i<input name="b0" size="5" value="{{ b0 }}"></label></div>
<div><label>c1=<input name="ap1" size="5" value="{{ ap1 }}"></label><label>+i<input name="bp1" size="5" value="{{ bp1 }}"></label></div>
<div><label>c2=<input name="ap2" size="5" value="{{ ap2 }}"></label><label>+i<input name="bp2" size="5" value="{{ bp2 }}"></label></div>
<div><input type="submit" style="display: none"> </div>
</form>
<br />
<img alt="" height="300" ,width="300" src="data:image/png;base64,{{ data1 }}" >
<img alt="" height="300" ,width="300" src="data:image/png;base64,{{ data2 }}" >
</body>
</html>
               