<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>
<title>Transformée de Fourier d'un chirp linéaire</title>

<form action="tf_chirp_lin" method="post">{% csrf_token %}
<div><label>Frequence à t=0<input name="f0" size="5" value="{{ f0 }}"></label></div>
<div><label>Fréquence finale<input name="f1" size="5" value="{{ f1 }}"></label></div>
<div><input type="submit" style="display: none"> </div>
</form>
Resultats<br>
<audio controls  autoplay >
<source src="data:audio/x-wav;base64,{{ data_snd }}" />
      You need a HTML5 compliant web browser. (eg Firefox 3.5...)
</audio>
<br/>

<img alt="" height="500" ,width="500" src="data:image/png;base64,{{ data1 }}" />
<img alt="" height="500" ,width="500" src="data:image/png;base64,{{ data2 }}" />


                     
                          
</body></html>